@import './base.css';
@import url('https://fonts.cdnfonts.com/css/montserrat');
@import url('https://fonts.cdnfonts.com/css/chicken-steak');

#app {
  width: 100%;
  margin: 0 auto;
  font-weight: normal;
  min-height: 100vh;

  position: relative;
  height: 100vh;
  overflow: hidden;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

button {
  transition: 0.3s ease;
  padding: 8px 16px;
  border: none;
  border-radius: 100px;
  color: black;

  font-size: 16px;
  cursor: pointer;
  width: fit-content;

  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid white;
}

button:hover {
  transform: scale(1.1);
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}
